.tab-wrapper {
    padding: 48px 0;
}
.tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.text-lg {
    font-size: 29px;
    color: var(--light-color);
    margin-bottom: 16px;
}
.btn-lg {
    font-size: 16px;
    padding: 13px 21px;
}
.tab-2-content-bottom {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 32px;
}
.text-md {
    color: var(--light-color);
    font-size: 19px;
    margin-bottom: 24px;
}
